<!-- Table Data -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- Button Groups  -->
                <div class="float-left">
                    <button class="btn btn-info waves-effect waves-light" data-toggle="modal"
                        data-target="#exampleModal" type="button">
                        <span class="fa fa-plus" style="padding-left:0px;"></span>&nbsp;Nueva
                    </button>
                    <button class="btn btn-success" type="button">
                        <span class="fa fa-file-pdf-o" style="padding-left:0px;"></span>&nbsp;PDF
                    </button>
                    <button class="btn btn-success" type="button">
                        <span class="fa fa-file-excel-o" style="padding-left:0px;"></span>&nbsp;Excel
                    </button>
                    <button class="btn btn-success" type="button" onclick="">
                        <span class="fa fa-print" style="padding-left:0px;"></span>&nbsp;Imprimir
                    </button>
                    <div id="example23_filter" class="dataTables_filter"><label>Buscar:<input type="search" class=""
                                placeholder="" aria-controls="example23"></label>
                    </div>
                </div>

                <!-- Table Data -->
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable"
                        data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable">#<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Código<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">Descripción<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">Porcentaje<span class="footable-sort-indicator"></span>
                                </th>
                                <th class="footable-sortable">Estado<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable text-center">Action<span
                                        class="footable-sort-indicator"></span></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let tarifa_iva of tarifas_iva let i = index">
                                <td><span class="footable-toggle"></span>{{ i + 1 }}</td>
                                <td>{{ tarifa_iva.codigo }}</td>
                                <td>{{ tarifa_iva.descripcion }}</td>
                                <td>{{ tarifa_iva.porcentaje }}</td>

                                <td *ngIf="tarifa_iva.estado; else inactivo">
                                    <div class="label label-table label-success">Activo</div>
                                </td>
                                <ng-template #inactivo>
                                    <td>
                                        <div class="label label-table label-danger">Inactivo</div>
                                    </td>
                                </ng-template>

                                <td *ngIf="tarifa_iva.estado else inactivoOption" class="text-nowrap text-center">
                                    <a class="cursor" data-toggle="modal"
                                        (click)="cargarTarifaIVAPorId(tarifa_iva.id_tarifa_iva)"
                                        data-target="#exampleModalU"><span
                                            class="fa fa-pencil text-inverse m-r-10"></span></a>
                                    <a class="cursor" (click)="borrarTarifaIVA(tarifa_iva);" data-toggle="tooltip"
                                        data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                                <ng-template #inactivoOption>
                                </ng-template>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="text-right">
                                        <ul class="pagination">
                                            <li class="footable-page-arrow disabled"><a data-page="first"
                                                    href="#first">«</a></li>
                                            <li class="footable-page-arrow disabled"><a data-page="prev"
                                                    href="#prev">‹</a>
                                            </li>
                                            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                                            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade modal-principal" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel1" #miModal>
    <div class="modal-dialog" role="document" style="width: 100%;" max-width="1000px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nueva Tarifa IVA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form autocomplete="off" [formGroup]="tarifaIVAForm">

                    <div class="form-group">

                        <label for="exampleInputuname">Código</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="number" class="form-control" id="exampleInputuname" placeholder="Código"
                                formControlName="codigo">
                        </div>
                        <label for="exampleInputuname">Descripción</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Descripción"
                                formControlName="descripcion">
                        </div>
                        <label for="exampleInputuname">Porcentaje</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="number" class="form-control" id="exampleInputuname" placeholder="Porcentaje"
                                formControlName="porcentaje">
                        </div>
                    </div>

                    <!-- Input Validation -->
                    <div class="col">
                        <div class="text-danger">
                            <p *ngIf="campoNoValido('codigo',tarifaIVAForm)">El campo código es obligatorio</p>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="col-md-12">
                <hr>
                <div class="float-right modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="crearTarifaIVA();"
                        data-dismiss="modal">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade modal-principal" id="exampleModalU" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel1" #miModal>
    <div class="modal-dialog" role="document" style="width: 100%;" max-width="1000px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Editar Tarifa IVA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="tarifaIVAFormU">

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Código</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="number" class="form-control" id="exampleInputuname3" placeholder="Código"
                                    formControlName="codigo" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Descripción*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3"
                                    placeholder="Descripción" formControlName="descripcion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Porcentaje*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="number" class="form-control" id="exampleInputuname3"
                                    placeholder="Porcentaje" formControlName="porcentaje">
                            </div>
                        </div>
                    </div>

                    <!-- Input Validation -->
                    <div class="col">
                        <div class="text-danger">
                            <p *ngIf="campoNoValido('descripcion',tarifaIVAFormU)">El campo descripción es
                                obligatorio</p>
                            <p *ngIf="campoNoValido('porcentaje',tarifaIVAFormU)">El campo porcentaje es
                                obligatorio</p>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Modal Footer -->
            <div class="col-md-12">
                <div class="float-right modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="actualizarTarifaIVA();"
                        data-dismiss="modal">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Style -->
<style>
    /* CSS personalizado para espaciar los botones */
    .float-left .btn {
        margin-right: 10px;
        /* Ajusta este valor según el espacio deseado */
    }
</style>