<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form #apuForm="ngForm">
          <div class="form-body">
            <div class="row p-t-20">
              <div class="col-md-12">
                <label class="control-label">Materiales</label>

                <div class="table-responsive m-t-5" style="clear: both;">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">#</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Desp %</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasMateriales; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>

                        
                        <td>
                          <ng-select [items]="productos" bindLabel="descripcion" placeholder="Seleccione un producto"
                            [(ngModel)]="item.producto" name="producto{{i}}" [searchable]="true"></ng-select>
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.cantidad"
                            name="cantidad{{i}}">
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidad"
                            name="unidad{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.desperdicio"
                            name="desperdicio{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.precio"
                            name="precio{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.total"
                            name="total{{i}}">
                        </td>
                        <td class="text-center">
                          <!-- Botón para eliminar la fila actual -->
                          <button (click)="deleteFilaMateriales(i)" class="btn btn-danger">
                            <i class="ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaMateriales()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <label class="control-label">Equipos, Herramientas y Maquinaria</label>

                <div class="table-responsive m-t-5" style="clear: both;">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">#</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasEquipos; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td>
                          <ng-select [items]="herramientas" bindLabel="descripcion" placeholder="Seleccione un producto"
                            [(ngModel)]="item.producto" name="producto{{i}}" [searchable]="true"></ng-select>
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.cantidad"
                            name="cantidad{{i}}">
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidad"
                            name="unidad{{i}}">
                        </td>

                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.precio"
                            name="precio{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.total"
                            name="total{{i}}">
                        </td>
                        <td class="text-center">
                          <!-- Botón para eliminar la fila actual -->
                          <button (click)="deleteFilaEquipos(i)" class="btn btn-danger">
                            <i class="ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaEquipos()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <label class="control-label">Mano de Obra</label>

                <div class="table-responsive m-t-5" style="clear: both;">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">#</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasManoObra; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>

                        <td>
                          <ng-select [items]="productos" bindLabel="descripcion" placeholder="Seleccione un producto"
                            [(ngModel)]="item.producto" name="producto{{i}}" [searchable]="true"></ng-select>

                          <!-- <select class="form-control" [(ngModel)]="item.descripcion" name="descripcion{{i}}">
                            <option value="">Seleccione un Producto</option>
                            <option *ngFor="let producto of productos" [value]="producto.descripcion">{{
                              producto.descripcion }}</option>
                          </select> -->

                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.cantidad"
                            name="cantidad{{i}}">
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidad"
                            name="unidad{{i}}">
                          <!-- <select class="form-control" [(ngModel)]="item.unidad" name="unidad{{i}}">
                                                      <option value="">Seleccione una unidad</option>
                                                      <option *ngFor="let unidad of unidades" [value]="unidad.descripcion">{{ unidad.descripcion }}</option>
                                                    </select> -->
                          

                        </td>

                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.precio"
                            name="precio{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.total"
                            name="total{{i}}">
                        </td>
                        <td class="text-center">
                          <!-- Botón para eliminar la fila actual -->
                          <button (click)="deleteFilaManoObra(i)" class="btn btn-danger">
                            <i class="ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaManoObra()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <br>
          <div class="form-actions">
            <button type="submit" class="btn btn-inverse" (click)="crearApu()">Crear APU</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>