<div class="row">
  <div class="col-lg-12">
    <div class="card ">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white text-center">ANALISIS DE PRECIOS UNITARIO</h4>
      </div>
      <div class="card-body">
        <form action="#" class="form-horizontal">
          <div class="form-body">

            <h3 class="box-title">Datos</h3>
            <hr class="m-t-0 m-b-40">
            <!--/row-->
            <div class="row">
              <div class="col-md-6">


                <div class="form-group row">
                  <label for="exampleInputuname3" class="col-sm-3 control-label">Código</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" [(ngModel)]="codigoC" name="codigoC" placeholder="Código">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" [(ngModel)]="nombreC" name="nombreC" placeholder="Nombre">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputuname3" class="col-sm-3 control-label">Descripcion</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" [(ngModel)]="descripcionC" name="descripcionC"
                        placeholder="Descripcion">
                    </div>
                  </div>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">

                <div class="form-group row">
                  <label for="exampleInputuname3" class="col-sm-3 control-label">Rendimiento</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="number" min="0.000" class="form-control" [(ngModel)]="rendimientoC"
                        name="rendimientoC" (ngModelChange)="calcularRendimiento();" placeholder="Rendimiento">
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group row">
                                  <label class="control-label text-right col-md-3">Rendimiento</label>
                                  <div class="col-md-9">
                                      <input type="number" min="0.000" class="form-control" [(ngModel)]="rendimientoC" name="rendimientoC">
                                  </div>
                              </div> -->
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">

                <div class="form-group row">
                  <label for="exampleInputuname3" class="col-sm-3 control-label">Unidad</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" [(ngModel)]="unidadC" name="unidadC" placeholder="Unidad">
                    </div>
                  </div>
                </div>
              </div>

              <!--/span-->
            </div>
            <!--/row-->
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form #apuForm="ngForm">
          <div class="form-body">
            <div class="row p-t-20">
              <div class="col-md-12">
                <h3 class="box-title">Materiales</h3>
                <hr class="m-t-0 m-b-40">

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">Código</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Desp %</th>
                      <th class="text-center">Precio</th>
                      <th class="w100 text-center">Total</th>
                      <th class="w50">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasMateriales; let i = index">
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.codigo"
                            name="codigo{{i}}" disabled>
                        </td>

                        <td>
                          <ng-select [items]="productos" bindLabel="descripcion" placeholder="Seleccione un producto"
                            [(ngModel)]="item.producto" name="descripcion{{i}}" [searchable]="true"
                            (ngModelChange)="actualizarDatosMateriales($event, i); calcularSubTotalMateriales(i); calcularTotalMateriales(); calcularCostosDirectos();"></ng-select>

                        </td>
                        <td>
                          <input type="number" min="0.0000" class="form-control text-right" [(ngModel)]="item.cantidad"
                            name="cantidad{{i}}"
                            (ngModelChange)="calcularSubTotalMateriales(i); calcularTotalMateriales(); calcularCostosDirectos();">
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidad"
                            name="unidad{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.desperdicio"
                            name="desperdicio{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.precio"
                            name="precio{{i}}" (ngModelChange)="calcularSubTotalMateriales(i)" disabled>
                          <!-- style="border: none; background: transparent;" -->

                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.total"
                            name="item.total{{i}}" disabled>
                        </td>

                        <td class="text-center">
                          <!-- Botón para eliminar la fila actual -->
                          <a class="cursor" (click)="deleteFilaMateriales(i); calcularTotalMateriales(); calcularCostosDirectos();" data-toggle="tooltip"
                            data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaMateriales()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-12">

                    <div class="row">
                      <!-- Espaciador -->
                      <div class="col-md-6"></div>

                      <!-- Detalle -->
                      <div class="col-md-4">
                        <div class="m-t-30 text-right">
                          <p class="text-right">Total Materiales =</p>
                          <p class="text-right">Unitario Materiales =</p>

                        </div>

                      </div>

                      <!-- Valores -->
                      <div class="col-md-2">
                        <div class="pull-right m-t-30 text-right">
                          <p class="text-right">$ {{totalMateriales | number:'1.2-2'}}</p>
                          <p class="text-right">$ {{totalMateriales | number:'1.2-2'}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <h3 class="box-title">Transporte</h3>
                <hr class="m-t-0 m-b-40">

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">Código</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasTransporte; let i = index">
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.codigot" name="codigot{{i}}" disabled>
                        </td>
                  
                        <td>
                          <ng-select [items]="transporte" bindLabel="descripcion" placeholder="Seleccione un producto"
                            [(ngModel)]="item.transporte" name="descripciont{{i}}" [searchable]="true"
                            (ngModelChange)="actualizarDatosTransporte($event, i); calcularSubTotalTransporte(i);  calcularTotalTransporte(); calcularCostosDirectos();"></ng-select>
                        </td>
                        <td>
                          <input type="number" min="0.0000" class="form-control text-right" [(ngModel)]="item.cantidadt"
                            name="cantidadt{{i}}" (ngModelChange)="calcularSubTotalTransporte(i); calcularTotalTransporte(); calcularCostosDirectos();">
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidadt" name="unidadt{{i}}">
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.preciot" name="preciot{{i}}"
                            (ngModelChange)="calcularSubTotalTransporte(i)" disabled>
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.totalt" name="item.totalt{{i}}" disabled>
                        </td>
                        <td class="text-center">
                          <a class="cursor" (click)="deleteFilaTransporte(i); calcularTotalTransporte(); calcularCostosDirectos();" data-toggle="tooltip"
                            data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                                
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaTransporte()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-12">

                    <div class="row">
                      <!-- Espaciador -->
                      <div class="col-md-6"></div>

                      <!-- Detalle -->
                      <div class="col-md-4">
                        <div class="m-t-30 text-right">
                          <p class="text-right">Total Transporte =</p>
                          <p class="text-right">Unitario Transporte =</p>

                        </div>

                      </div>

                      <!-- Valores -->
                      <div class="col-md-2">
                        <div class="pull-right m-t-30 text-right">
                          <p class="text-right">$ {{totalTransporte | number:'1.2-2'}}</p>
                          <p class="text-right">$ {{totalTransporte | number:'1.2-2'}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>

                </div>
              </div>


              <div class="col-md-12">
                <h3 class="box-title">Equipos, Herramientas y Maquinaria</h3>
                <hr class="m-t-0 m-b-40">

                <div class="table-responsive m-t-5" style="clear: both;">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">#</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>

                      <tr *ngFor="let item of filasEquipos; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td>
                          <ng-select [items]="herramientas" bindLabel="descripcion"
                            placeholder="Seleccione una Herramienta" [(ngModel)]="item.herramientas"
                            name="descripcione{{i}}" [searchable]="true"
                            (ngModelChange)="actualizarDatosEquipos($event, i); calcularSubTotalEquipos(i); calcularTotalEquipos(); calcularRendimiento(); calcularCostosDirectos();"></ng-select>

                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.cantidade"
                            name="cantidade{{i}}"
                            (ngModelChange)="calcularSubTotalEquipos(i); calcularTotalEquipos(); calcularRendimiento(); calcularCostosDirectos();">



                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidade"
                            name="unidade{{i}}">
                        </td>

                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.precioe"
                            name="precioe{{i}}" disabled>
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.totale"
                            name="item.totale{{i}}" disabled>
                        </td>
                        <td class="text-center">
                           <a class="cursor" (click)="deleteFilaEquipos(i); calcularTotalEquipos(); calcularRendimiento(); calcularCostosDirectos();" data-toggle="tooltip"
                           data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaEquipos()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-12">

                    <div class="row">
                      <!-- Espaciador -->
                      <div class="col-md-6"></div>

                      <!-- Detalle -->
                      <div class="col-md-4">
                        <div class="m-t-30 text-right">
                          <p class="text-right">Total Herramientas y Equipos =</p>
                          <p class="text-right">Unitario Herramientas y Equipos =</p>

                        </div>

                      </div>

                      <!-- Valores -->
                      <div class="col-md-2">
                        <div class="pull-right m-t-30 text-right">
                          <p class="text-right">$ {{totalEquipos | number:'1.2-2'}} </p>
                          <p class="text-right">$ {{unitarioEquipos | number:'1.2-2'}} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-12">
                <h3 class="box-title">Mano de Obra</h3>
                <hr class="m-t-0 m-b-40">

                <div class="table-responsive m-t-5" style="clear: both;">
                  <table class="table table-bordered">
                    <thead>
                      <th class="text-center">Código</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Unidad</th>
                      <th class="text-center">Precio</th>
                      <th class="text-center">Total</th>
                      <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filasManoObra; let i = index">
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.codigom"
                            name="codigom{{i}}">
                        </td>

                        <td>
                          <ng-select [items]="puestos" bindLabel="cargo" placeholder="Seleccione puesto"
                            [(ngModel)]="item.puestos" name="descripcionm{{i}}" [searchable]="true"
                            (ngModelChange)="actualizarDatosManoObra($event, i); calcularSubTotalManoObra(i);  calcularSubTotalManoObra2(); calcularCostosDirectos();"                            >
                          </ng-select>

                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.cantidadm"
                            name="cantidadm{{i}}" min="0.0000" (ngModelChange)="calcularSubTotalManoObra(i); calcularSubTotalManoObra2(); calcularCostosDirectos();" >
                        </td>
                        <td>
                          <input type="text" class="form-control text-right" [(ngModel)]="item.unidadm"
                            name="unidadm{{i}}">
                        </td>
                        
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.preciom"
                            name="preciom{{i}}" disabled>
                        </td>
                        <td>
                          <input type="number" class="form-control text-right" [(ngModel)]="item.totalm"
                            name="totalm{{i}}" disabled>
                        </td>
                        <td class="text-center">
                          
                          <a class="cursor" (click)="deleteFilaManoObra(i);  calcularSubTotalManoObra2(); calcularCostosDirectos();" data-toggle="tooltip"
                           data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- Botón para agregar una nueva fila -->
                      <button (click)="addFilaManoObra()" class="btn btn-success">
                        Agregar <span class="fa fa-plus" style="padding-left: 10px;"></span>
                      </button>
                    </div>
                  </div>

                  <div class="col-md-12">

                    <div class="row">
                      <!-- Espaciador -->
                      <div class="col-md-6"></div>

                      <!-- Detalle -->
                      <div class="col-md-4">
                        <div class="m-t-30 text-right">
                          <p class="text-right">Subtotal Mano de Obra:</p>
                          <p class="text-right">Prestaciones Sociales:</p>
                          <p class="text-right">Total Mano de Obra: </p>
                          <p class="text-right">Unitario de Mano de Obra: </p>

                        </div>

                      </div>

                      <!-- Valores -->
                      <div class="col-md-2">
                        <div class="pull-right m-t-30 text-right">
                          <p class="text-right">$ {{subTotalManoObra | number:'1.2-2'}} </p>
                          <p class="text-right">$ {{totalPrestaciones | number:'1.2-2'}} </p>
                          <p class="text-right">$ {{totalManoyPrestaciones | number:'1.2-2'}} </p>
                          <p class="text-right">$ {{unitarioManoObra | number:'1.2-2'}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="clearfix"></div>
                <hr>
                <div class="row">

                  <!-- Espaciador -->
                  <div class="col-md-6"></div>


                  <!-- Detalle -->
                  <div class="col-md-4">
                    <div class="m-t-30 text-right">
                      <p class="text-right">Costos Directos por Unidad:</p>
                      <p class="text-right">12% Administración y Costos Indirectos:</p>
                      <p class="text-right">Subtotal:</p>
                      <p class="text-right">8% Utilidad: </p>
                      <h3 class="text-right">Precio Unitario:</h3>
                    </div>

                  </div>

                  <!-- Valores -->
                  <div class="col-md-2">
                    <div class="pull-center m-t-30 text-center">
                      <!-- <p>$ {{ sumaTotalSinImpuesto.toFixed(2) }} </p>
                            <p>$ {{ sumaTotalImpuesto.toFixed(2) }} </p>
                            <p>$ {{ sumaTotalImpuestoCero.toFixed(2) }} </p>
                            <p>$ 0.00 </p> 
                            <p>$ 0.00 </p> 
                            <p>$ {{ sumaTotalDescuento.toFixed(2) }} </p>
                            <p>$ {{ sumaTotalICE.toFixed(2) }} </p>
                            <p>$ {{ sumaTotalIVA.toFixed(2) }} </p>
                            <h3>$ {{ sumaPrecioTotal.toFixed(2) }} </h3> -->
                      <p class="text-right">$ {{costosDirectos | number:'1.2-2'}} </p>
                      <p class="text-right">$ {{administracion | number:'1.2-2'}} </p>
                      <p class="text-right">$ {{subTotalUnitario | number:'1.2-2'}} </p>
                      <p class="text-right">$ {{utilidad | number:'1.2-2'}} </p>
                      <h3 class="text-right">$ {{precioUnitario | number:'1.2-2'}} </h3>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <br>
          <div class="form-actions">
            <button type="submit" class="btn btn-inverse" (click)="crearApu()">Crear APU</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>