<style>
    .verde {
        color: green;
    }

    .rojo {
        color: red;
    }

    .total-label {
        margin-right: 10px;
    }
</style>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Estado de Resultado</h4>
            <hr>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive">

                <table id="demo-foo-addrow" class="table m-t-35 table-hover contact-list footable-loaded footable"
                    data-page-size="10">
                    <thead>
                        <tr>
                            <th class="footable-sortable">Codigo <span class="footable-sort-indicator"></span>
                            </th>
                            <th class="footable-sortable">Descripción<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable text-right">Saldo<span class="footable-sort-indicator"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let er of estado_resultado let i = index">
                            <td>{{er.codigo}}</td>
                            <td>{{er.descripcion }}</td>
                            <td class="text-right">{{er.saldo}}</td>
                            <ng-template #inactivoOption>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <hr>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-left">
                        <h5 class="total-label">Total Ingreso:</h5>
                    </td>
                    <td class="text-right">
                        <h5 class="total-value">{{ '$ ' + ingreso?.toLocaleString('es', { minimumFractionDigits: 2,
                            maximumFractionDigits: 2 }) }}</h5>
                    </td>

                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-left">
                        <h5 class="total-label">Total Egreso:</h5>
                    </td>
                    <td class="text-right">
                        <h5 class="total-value">{{ '$ ' + egreso?.toLocaleString('es', { minimumFractionDigits: 2,
                            maximumFractionDigits: 2 }) }}</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-left">
                        <h5 class="total-label">Utilidad Bruta:</h5>
                    </td>
                    <td class="text-right">
                        <h5 class="total-value">{{ '$ ' + utilidad_bruta?.toLocaleString('es', { minimumFractionDigits:
                            2, maximumFractionDigits: 2 }) }}</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-left">
                        <h5 class="total-label">Total Gasto:</h5>
                    </td>
                    <td class="text-right">
                        <h5 class="total-value">{{ '$ ' + gasto?.toLocaleString('es', { minimumFractionDigits: 2,
                            maximumFractionDigits: 2 }) }}</h5>
                    </td>
                </tr>
                <hr>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-left">
                        <h4 class="total-label"><strong>Utilidad Neta:</strong></h4>
                    </td>
                    <td class="text-right">
                        <h4 class="total-value">{{ '$ ' + utilidad_neta?.toLocaleString('es', { minimumFractionDigits:
                            2, maximumFractionDigits: 2 }) }}</h4>
                    </td>
                </tr>
            </div>
            <!--<button (click)="generatePDF()">Generar PDF gg</button> -->
            <div class="float-left modal-footer">
                <hr>
                <button class="btn btn-success margin-left-10 AN__btn_imprimir_pdf___NEW_ASI hidenNew2 btn-new-version"
                    id="btnimprimirasiento" type="button" (click)="generatePDF()">
                    <span class="fa fa-file-pdf-o" style="padding-left:0px;"></span>&nbsp;PDF
                </button>
                <button class="btn btn-success AN__btn_imprimir_excel___NEW_ASI hidenNew2 btn-new-version"
                    id="btnasientoEXCEL" type="button" (click)="exportToExcel()">
                    <span class="fa fa-file-excel-o" style="padding-left:0px;"></span>&nbsp;Excel
                </button>
                <button class="btn btn-success margin-left-10 AN__btn_imprimir_asiento___NEW_ASI hidenNew2 btn-print"
                    id="btnimprimir" type="button" onclick="ImprimirAsiento();">
                    <span class="fa fa-print" style="padding-left:0px;"></span>&nbsp;Imprimir
                </button>
            </div>
        </div>
    </div>
</div>