<!-- Table Data Forma Pago -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <!-- Button Groups -->
                <div class="float-left">
                    <button type="button" class="btn btn-info waves-effect waves-light" data-toggle="modal"
                        data-target="#exampleModal"><i class="fa fa-plus"></i> Nueva Forma Pago
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Más opciones
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <span class="fa fa-download"></span> Importar </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <span class="fa fa-upload"></span> Exportar </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-print"></span> Imprimir </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <i class="fa fa-cog"></i> Configuración </a>
                        </div>
                    </div>
                </div>

                <!-- Search Input -->
                <div class="float-right ">
                    <div class="form-group" style="display: flex; align-items: center;">
                        <label style="height: 15px; margin-right: 10px;">&nbsp;&nbsp;&nbsp;Buscar:</label>
                        <input type="text" class="form-control" [(ngModel)]="buscarTexto"
                            placeholder="Código o descripción" (input)="filtrarFormasPago()"
                            style="width: 100%;" />
                    </div>
                </div>

                <!-- Select State -->
                <div class="float-right ">
                    <div class="form-group" style="display: flex; align-items: center;">
                        <label style="height: 15px; margin-right: 10px;">Estado:</label>
                        <select class="form-control" [(ngModel)]="estadoSelect" (change)="filtrarFormasPago()"
                            style="width: 100%;">
                            <option value="">TODOS</option>
                            <option value="true">ACTIVO</option>
                            <option value="false">INACTIVO</option>
                        </select>
                    </div>
                </div>

                <!-- Table Data -->
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Código</th>
                                <th class="text-left">Descripción</th>
                                <th class="text-left">Estado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formaPago of formasPago let i = index">
                                <td class="text-center">
                                    <span class="footable-toggle"></span>
                                    {{ (paginaActual - 1) * itemsPorPagina + i + 1 }}
                                </td>
                                <td class="text-center">{{formaPago.codigo}}</td>
                                <td>{{formaPago.descripcion}}</td>

                                <td *ngIf="formaPago.estado; else inactivo">
                                    <div class="label label-table label-success">ACTIVO</div>
                                </td>
                                <ng-template #inactivo>
                                    <td>
                                        <div class="label label-table label-danger">INACTIVO</div>
                                    </td>
                                </ng-template>
                                <td *ngIf="formaPago.estado else inactivoOption" class="text-nowrap text-center">
                                    <button class="btn btn-outline-warning btn-sm m-r-5" data-toggle="modal"
                                        (click)="cargarFormaPagoPorId(formaPago.id_forma_pago);"
                                        data-target="#exampleModalU">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" (click)="borrarFormaPago(formaPago);"
                                        data-toggle="tooltip" data-original-title="Close">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                                <ng-template #inactivoOption>
                                    <td class="text-nowrap text-center">
                                        <button class="btn btn-outline-success btn-sm" *ngIf="!formaPago.estado"
                                            (click)="activarFormaPago(formaPago)">
                                            Activar
                                        </button>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <hr>

                <!-- Pagination-->
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-inline">Mostrar &nbsp;
                            <select id="demo-show-entries" [(ngModel)]="itemsPorPagina"
                                (change)="changeItemsPorPagina()" class="mr-2">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>entradas
                        </label>
                        <div class="form-inline">
                            <label class="mr-2">Mostrando</label>
                            {{ getMinValue() }}
                            a {{ getMaxValue() > totalFormasPago ? totalFormasPago : getMaxValue() }}
                            de {{ totalFormasPago }} datos
                        </div>
                    </div>
                    <div class="col-md-6 float-left" style="text-align: right;">
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(1)">
                            <i class="mdi mdi-chevron-double-left"></i>
                        </button>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(paginaActual - 1)">
                            <i class="mdi mdi-chevron-left"></i>
                        </button>
                        <ng-container *ngIf="mostrarPaginacion; else showFirstPageButton">
                            <ng-container *ngFor="let pagina of paginas">
                                <button class="btn btn-secondary waves-effect waves-light" type="button"
                                    (click)="cambiarPagina(pagina)">
                                    {{ pagina }}
                                </button>
                            </ng-container>
                        </ng-container>
                        <ng-template #showFirstPageButton>
                            <button class="btn btn-secondary waves-effect waves-light" type="button"
                                (click)="cambiarPagina(1)">
                                1
                            </button>
                        </ng-template>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(paginaActual + 1)">
                            <i class="mdi mdi-chevron-right"></i>
                        </button>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(totalPaginas)">
                            <i class="mdi mdi-chevron-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create Forma Pago -->
<div class="modal fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    #miModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nuevo Forma Pago</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body modal-body-aux">

                <!-- Card -->
                <div class="card-body">
                    <form class="form-material m-t-0" [formGroup]="formaPagoForm">
                        <div class="form-group">
                            <label>Código:</label>
                            <input type="text" class="form-control material-aux" formControlName="codigo">
                        </div>
                        <div class=" form-group">
                            <label>Descripción:</label>
                            <input type="text" class="form-control material-aux" formControlName="descripcion"
                                (input)="convertirAMayusculas($event)">
                        </div>

                        <!-- Input Validation -->
                        <div class="row">
                            <div class="col text-danger">
                                <p *ngIf="campoNoValido('codigo',formaPagoForm)">El código es obligatorio.</p>
                                <p *ngIf="campoNoValido('descripcion',formaPagoForm)">La descripción es obligatoria.</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-success" (click)="crearFormaPago();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Forma Pago -->
<div class="modal fadeIn fast" id="exampleModalU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    #miModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Actualizar Forma Pago</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body modal-body-aux">

                <!-- Card -->
                <div class="card-body">
                    <form class="form-material m-t-0" [formGroup]="formaPagoFormU">
                        <div class="form-group">
                            <label>Código:</label>
                            <input type="text" class="form-control material-aux" formControlName="codigo" readonly>
                        </div>
                        <div class="form-group">
                            <label>Forma de Pago:</label>
                            <input type="text" class="form-control material-aux" formControlName="descripcion"
                                (input)="convertirAMayusculas($event)">
                        </div>

                        <!-- Input Validation -->
                        <div class="row">
                            <div class="col text-danger">
                                <p *ngIf="campoNoValido('descripcion',formaPagoFormU)">La descripcion es obligatoria.
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-success"
                    (click)="actualizarFormaPago();">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Style -->
<style>
    .float-left .btn {
        margin-right: 5px;
    }

    hr {
        border: 1px transparent #ccc;
        margin: 20px 0;
    }

    .modal-body-aux {
        padding-bottom: 0px;
    }

    .material-aux {
        font-weight: 300;
    }
</style>