<!-- Table Data Asiento -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <!-- Row Button  -->
                <div class="row button-group">

                    <!-- Button Groups  -->
                    <div class="col-lg-12 col-md-12">
                        <div class="float-left">
                            <button type="button" class="btn btn-info waves-effect waves-light" data-toggle="modal"
                                data-target="#exampleModal">
                                <i class="fa fa-plus"></i> Nuevo Asiento
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Más opciones
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start"
                                    style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                        data-target="#exampleModalXML">
                                        <span class="fa fa-download"></span> Importar </a>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                        data-target="#exampleModalXML">
                                        <span class="fa fa-upload"></span> Exportar </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="fa fa-print"></span> Imprimir </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                        data-target="#exampleModalXML">
                                        <i class="fa fa-cog"></i> Configuración </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;

                    <!-- Date Range Input, Select Input and Search Input -->
                    <div class="col-lg-12 col-md-12">
                        <div class="button-group">
                            <label>Fecha Asiento Inicio
                                <input type="date" class="form-control" [(ngModel)]="fechaInicio"
                                    (change)="filtrarAsientos()" (dblclick)="borrarFechaInicio()"
                                    style="width: 100%;" />
                            </label>
                            &nbsp;
                            <label>Fecha Asiento Fin
                                <input type="date" class="form-control" [(ngModel)]="fechaFin"
                                    (change)="filtrarAsientos()" (dblclick)="borrarFechaFin()" style="width: 100%;" />
                            </label>
                            &nbsp;
                            <label>Estado
                                <select class="form-control" [(ngModel)]="estadoSelect" (change)="filtrarAsientos()"
                                    style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <option value="true">ACTIVO</option>
                                    <option value="false">ANULADO</option>
                                </select>
                            </label>
                            &nbsp;
                            <label>Buscar
                                <input type="text" class="form-control flex-fill" [(ngModel)]="buscarTexto"
                                    placeholder="ID, referencia ó documento " (input)="filtrarAsientos()" />
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Table Data -->
                <div class="table-responsive">

                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable"
                        data-page-size="10">
                        <thead>
                            <tr>

                                <th class="text-center">#</th>
                                <th class="text-center">ID</th>
                                <th class="text-left">Fecha</th>
                                <th class="text-center">Referencia</th>
                                <th class="text-left">Documento</th>
                                <th class="text-left">Observación</th>
                                <th class="text-left">Estado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let asiento of asientos let i = index">
                                <td class="text-center">
                                    <span class="footable-toggle"></span>
                                    {{ (paginaActual - 1) * itemsPorPagina + i + 1 }}
                                </td>
                                <td class="text-center">{{asiento.id_asiento}}</td>
                                <td>{{asiento.fecha_asiento | date:'yyyy-MM-dd' }}</td>
                                <td>{{asiento.referencia}}</td>
                                <td>{{asiento.documento}}</td>
                                <td>{{asiento.observacion}}</td>
                                <td *ngIf="asiento.estado; else inactivo">
                                    <div class="label label-table label-success">ACTIVO</div>
                                </td>
                                <ng-template #inactivo>
                                    <td>
                                        <div class="label label-table label-danger">ANULADO</div>
                                    </td>
                                </ng-template>

                                <td *ngIf="asiento.estado else inactivoOption" class="text-nowrap text-center">
                                    <button class="btn btn-outline-warning btn-sm m-r-5" data-toggle="modal" (click)="cargarAsientoPorId(asiento.id_asiento);
                                        cargarDetallesAsientoByIdAsiento(asiento.id_asiento)"
                                        data-target="#exampleModalU">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" (click)="borrarAsiento(asiento);"
                                        data-toggle="tooltip" data-original-title="Close">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                                <ng-template #inactivoOption>
                                    <td class="text-nowrap text-center">
                                        <button class="btn btn-outline-info btn-sm" data-toggle="modal" (click)="cargarAsientoPorId(asiento.id_asiento);
                                            cargarDetallesAsientoByIdAsiento(asiento.id_asiento)"
                                            data-target="#exampleModalU">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <hr>

                <!-- Pagination-->
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-inline">Mostrar &nbsp;
                            <select id="demo-show-entries" [(ngModel)]="itemsPorPagina"
                                (change)="changeItemsPorPagina()" class="mr-2">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>entradas
                        </label>
                        <div class="form-inline">
                            <label class="mr-2">Mostrando</label>
                            {{ getMinValue() }}
                            a {{ getMaxValue() > totalAsientos ? totalAsientos : getMaxValue() }}
                            de {{ totalAsientos }} datos
                        </div>
                    </div>
                    <div class="col-md-6 float-left" style="text-align: right;">
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(1)">
                            <i class="mdi mdi-chevron-double-left"></i>
                        </button>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(paginaActual - 1)">
                            <i class="mdi mdi-chevron-left"></i>
                        </button>
                        <ng-container *ngIf="mostrarPaginacion; else showFirstPageButton">
                            <ng-container *ngFor="let pagina of paginas">
                                <button class="btn btn-secondary waves-effect waves-light" type="button"
                                    (click)="cambiarPagina(pagina)">
                                    {{ pagina }}
                                </button>
                            </ng-container>
                        </ng-container>
                        <ng-template #showFirstPageButton>
                            <button class="btn btn-secondary waves-effect waves-light" type="button"
                                (click)="cambiarPagina(1)">
                                1
                            </button>
                        </ng-template>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(paginaActual + 1)">
                            <i class="mdi mdi-chevron-right"></i>
                        </button>
                        <button class="btn btn-secondary waves-effect waves-light" type="button"
                            (click)="cambiarPagina(totalPaginas)">
                            <i class="mdi mdi-chevron-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create Asiento -->
<div class="modal fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    #miModal>
    <div class="modal-dialog" role="document" style="width: 100%;" max-width="1000px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nuevo Asiento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <div class="text-center">
                    <h3><b>ASIENTO # </b></h3>
                    <h5><b>Fecha : </b> {{ fechaActual}}</h5>
                </div>
                <br>

                <form autocomplete="off" [formGroup]="asientoForm">

                    <!-- Asiento Form -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Fecha Asiento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                    <input type="date" class="form-control" id="exampleInputuname"
                                        placeholder="Fecha Asiento" formControlName="fecha_asiento">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Referencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil-square-o"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Referencia" formControlName="referencia">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Documento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-file-pdf-o"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Documento" formControlName="documento">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Observación</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-eye"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Observación" formControlName="observacion">
                                </div>
                            </div>
                        </div>

                        <!-- Input Validation -->
                        <div class="col">
                            <div class="text-danger">
                                <p *ngIf="campoNoValido('fecha_asiento', asientoForm)">La fecha de asiento es
                                    obligatoria.</p>
                                <p *ngIf="campoNoValido('referencia', asientoForm)">La referencia es obligatoria.</p>
                                <p *ngIf="campoNoValido('documento', asientoForm)">El documento es obligatorio.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Detalle Table Form -->
                    <form autocomplete="off" [formGroup]="detalleAsientoForm">
                        <div class="table-responsive m-t-5" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Cuenta</th>
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Documento</th>
                                    <th class="text-center">Debe $</th>
                                    <th class="text-center">Haber $</th>
                                    <th class="text-center">Acción</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of detalleAsientoFormInterface; let i = index">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td>
                                            <select class="form-control" formControlName="cuenta_{{i}}">
                                                <option *ngFor="let cuenta of allCuentas" [value]="cuenta.id_cuenta">{{
                                                    cuenta.codigo + ' - ' + cuenta.descripcion }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right"
                                                formControlName="descripcion_{{i}}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right"
                                                formControlName="documentod_{{i}}">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control text-right"
                                                formControlName="debe_{{i}}" min="0"
                                                (input)="actualizarTotalDebe(); actualizarDiferencia();">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control text-right"
                                                formControlName="haber_{{i}}" min="0"
                                                (input)="actualizarTotalHaber(); actualizarDiferencia();">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="eliminarDetalle(i); actualizarTotalDebe(); actualizarTotalHaber(); actualizarDiferencia();">
                                                <i class="ti-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="agregarLinea" class="btn btn-success"
                                        (click)="agregarDetalleForm(); actualizarTotalDebe(); actualizarTotalHaber(); actualizarDiferencia();">
                                        <span class="fa fa-plus"></span> Agregar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>

                    <!-- Asiento Form 2 -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-5 col-md-6"></div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-dark text-center">
                                        <h6 class="text-white">DIFERENCIA</h6>
                                        <h2 class="font-light text-white">$ {{diferencia.toFixed(2)}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6"></div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-info text-center">
                                        <h6 class="text-white">TOTAL DEBE</h6>
                                        <h2 class="font-light text-white">$ {{sumaTotalDebe.toFixed(2)}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-success text-center">
                                        <h6 class="text-white">TOTAL HABER</h6>
                                        <h2 class="font-light text-white">$ {{sumaTotalHaber.toFixed(2)}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Mensaje de error si no hay suficientes detalles -->
                    <div *ngIf="validacionDetallesRequeridos && detalleAsientoFormInterface.length < 2"
                        class="text-danger">
                        <p>Se requieren al menos dos detalles para guardar el asiento contable.</p>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" (click)="crearAsiento();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Asiento -->
<div class="modal fadeIn fast" id="exampleModalU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    #miModal>
    <div class="modal-dialog" role="document" style="width: 100%;" max-width="1000px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">
                    {{ estado ? 'Actualizar Asiento' : 'Visualizar Asiento' }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="text-center">
                    <h3><b>ASIENTO # </b> {{id_asiento}}</h3>
                    <h5><b>Fecha : </b> {{fechaActual}}</h5>
                </div>
                <br>

                <form autocomplete="off" [formGroup]="asientoFormU">

                    <!-- Asiento Form -->
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Fecha Asiento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                    <input type="date" class="form-control" id="exampleInputuname"
                                        placeholder="Fecha Asiento" formControlName="fecha_asiento"
                                        [readonly]="estado === false">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Referencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil-square-o"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Referencia" formControlName="referencia"
                                        [readonly]="estado === false">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Documento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-file-pdf-o"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Documento" formControlName="documento" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputuname">Observación</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-eye"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname"
                                        placeholder="Observación" formControlName="observacion"
                                        [readonly]="estado === false">
                                </div>
                            </div>
                        </div>
                        <!-- Input Validation -->
                        <div class="col">
                            <div class="text-danger">
                                <p *ngIf="campoNoValido('fecha_asiento', asientoForm)">La fecha de asiento es
                                    obligatoria.</p>
                                <p *ngIf="campoNoValido('referencia', asientoForm)">La referencia es obligatoria.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Detalle Table Data -->
                    <div class="table-responsive">
                        <table id="demo-foo-addrow"
                            class="table m-t-30 table-hover contact-list footable-loaded footable" data-page-size="10">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-left">Cuenta</th>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-left">Documento</th>
                                    <th class="text-right">Debe $</th>
                                    <th class="text-right">Haber $</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let da of detalles_asiento let i = index">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td>
                                        <ng-container *ngFor="let cuenta of allCuentas">
                                            <ng-container *ngIf="cuenta.id_cuenta == da.id_cuenta ">{{cuenta.codigo}} -
                                                {{cuenta.descripcion}}</ng-container>
                                        </ng-container>
                                    </td>
                                    <td>{{da.descripcion}}</td>
                                    <td>{{da.documento}}</td>
                                    <td class="text-right">{{da.debe}}</td>
                                    <td class="text-right">{{da.haber}}</td>
                                    <ng-template #inactivoOption>
                                    </ng-template>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <hr>

                    <!-- Asiento Form 2 -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-5 col-md-6"></div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-dark text-center">
                                        <h6 class="text-white">DIFERENCIA</h6>
                                        <h2 class="font-light text-white">$ {{'0.00'}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6"></div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-info text-center">
                                        <h6 class="text-white">TOTAL DEBE</h6>
                                        <h2 class="font-light text-white">$ {{ total_debe | number:'1.2-2' }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-success text-center">
                                        <h6 class="text-white">TOTAL HABER</h6>
                                        <h2 class="font-light text-white">$ {{ total_haber | number:'1.2-2' }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" [innerHTML]="estado ? 'Cancelar' : 'Cerrar'"
                    data-dismiss="modal"></button>
                <button type="button" class="btn btn-info" *ngIf="estado"
                    (click)="actualizarAsiento();">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        max-width: 80%;
        /* Ajusta el valor según tus necesidades */
        margin: 30px auto;
    }

    .float-left .btn {
        margin-right: 5px;
    }

    hr {
        border: 1px transparent #ccc;
        margin: 20px 0;
    }

    .modal-body-aux {
        padding-bottom: 0px;
    }

    .material-aux {
        font-weight: 300;
    }
</style>