<div class="col-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Lista de Cuentas</h4>
            <h6 class="card-subtitle"></h6>

            <div class="float-left modal-footer">
                <button class="btn btn-info waves-effect waves-light" data-toggle="modal" data-target="#exampleModal"
                    type="button"><span class="btn-label"><i class="fa fa-plus"></i></span>Crear Cuenta</button>
                <button class="btn btn-success margin-left-10 AN__btn_imprimir_pdf___NEW_ASI hidenNew2 btn-new-version"
                    id="btnimprimirasiento" type="button">
                    <span class="fa fa-file-pdf-o" style="padding-left:0px;"></span>&nbsp;PDF
                </button>
                <button class="btn btn-success AN__btn_imprimir_excel___NEW_ASI hidenNew2 btn-new-version"
                    id="btnasientoEXCEL" type="button">
                    <span class="fa fa-file-excel-o" style="padding-left:0px;"></span>&nbsp;Excel
                </button>
                <button class="btn btn-success margin-left-10 AN__btn_imprimir_asiento___NEW_ASI hidenNew2 btn-print"
                    id="btnimprimir" type="button" onclick="">
                    <span class="fa fa-print" style="padding-left:0px;"></span>&nbsp;Imprimir
                </button>
                <div id="example23_filter" class="dataTables_filter"><label>Buscar:<input type="search" class=""
                            placeholder="" aria-controls="example23"></label>
                </div>
            </div>

            <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable"
                    data-page-size="10">
                    <thead>
                        <tr>
                            <th class="footable-sortable">#<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Código <span class="footable-sort-indicator"></span>
                            </th>
                            <th class="footable-sortable">Descripción<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Cuenta Padre<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Estado<span class="footable-sort-indicator"></span></th>

                            <th class="footable-sortable text-center">Action<span class="footable-sort-indicator"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuenta of cuentas let i = index">
                            <td><span class="footable-toggle text-center"></span>{{ i + 1 }}</td>
                            <td>{{cuenta.codigo}}</td>
                            <td>{{cuenta.descripcion}}</td>
                            <td>{{cuenta.cuenta_padre}}</td>

                            <td *ngIf="cuenta.estado; else inactivo">
                                <div class="label label-table label-success">Activo</div>
                            </td>
                            <ng-template #inactivo>
                                <td>
                                    <div class="label label-table label-danger">Inactivo</div>
                                </td>
                            </ng-template>

                            <td *ngIf="cuenta.estado else inactivoOption" class="text-nowrap text-center">

                                <a class="cursor" data-toggle="modal" (click)="cargarCuentaPorId(cuenta.id_cuenta);"
                                    data-target="#exampleModalU"><span
                                        class="fa fa-pencil text-inverse m-r-10"></span></a>

                                <a class="cursor" (click)="borrarCuenta(cuenta);" data-toggle="tooltip"
                                    data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                            <ng-template #inactivoOption>
                            </ng-template>
                            <!-- <td>
                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                            </td>
                             -->

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="8">
                                <div class="text-right">
                                    <ul class="pagination">
                                        <li class="footable-page-arrow disabled"><a data-page="first"
                                                href="#first">«</a></li>
                                        <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a>
                                        </li>

                                        <!-- Generar dinámicamente los elementos de la paginación -->
                                        <!--<li *ngFor="let pagina of paginas" class="footable-page">
                                            <a [data-page]="pagina" href="#">{{ pagina + 1 }}</a>
                                        </li>-->

                                        <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                                        <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- modal create -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" #miModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nueva Cuenta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="cuentaForm">
                    <div class="form-group">

                        <label for="exampleInputuname">Código</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Código"
                                formControlName="codigo">
                        </div>

                        <label for="exampleInputuname">Descripción</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Descripción"
                                formControlName="descripcion">
                        </div>

                        <label for="exampleInputuname">Cuenta Padre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Cuenta Padre"
                                formControlName="cuenta_padre">
                        </div>

                        <label for="exampleInputEmail1">Cuentas</label>
                        <div class="input-group">
                            <!--<select class="form-control" formControlName="id_cuenta" (change)="cargarCuentaPadre($event) " >-->
                            <select class="form-control" formControlName="id_cuenta"
                                (change)="cargarCuentaPadre($event) ">
                                <option value="">Seleccione tipo de cuenta</option>
                                <option *ngFor="let item of cuentas" [value]="item.id_cuenta">
                                    {{item.codigo}}
                                    {{'-'}}
                                    {{item.descripcion}}</option>

                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('descripcion',cuentaForm)"> El campo es obligatorio</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="crearCuenta();"
                            data-dismiss="modal">Crear</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<!-- modal  update-->
<div class="modal fade" id="exampleModalU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" #miModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Actualizar Cuenta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">

                <form autocomplete="off" class="form-horizontal p-t-20" [formGroup]="cuentaFormU">

                    <!-- 
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Cuenta Padre*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3"
                                    placeholder="Cuenta Padre" formControlName="cuenta_padre">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Código*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Código"
                                    formControlName="codigo">
                            </div>
                        </div>
                    </div>
                    -->

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Descripción*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3"
                                    placeholder="Descripción" formControlName="descripcion">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col text-danger">
                            <!-- 
                            <p *ngIf="campoNoValido('cuenta_padre',cuentaFormU)"> El campo es obligatorio</p>
                            <p *ngIf="campoNoValido('codigo',cuentaFormU)"> El campo es obligatorio</p>
                            -->

                            <p *ngIf="campoNoValido('descripcion',cuentaFormU)"> El campo es obligatorio</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="actualizarCuenta();"
                            data-dismiss="modal">Actualizar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>