
<div class="row animated fadeIn fast"
        *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading"> Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>

        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de categorías</h4>
                <h6 class="card-subtitle">Puede agregar nuevas categorías  &amp; sub categorías</h6>
                <!-- Row acciones header table -->

                <div class="row p-t-12">
                    <div class="col-md-4">
                        <!-- Mostrar archivos -->
                        <div class="dataTables_length" id="myTable_length">
                            <label>Mostrar
                                <select name="myTable_length" aria-controls="myTable" class="">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> datos</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Acciones -->
                        <div class="dt-buttons" style="text-align: center;">

                            <a class="dt-button buttons-copy buttons-html5 cursor" tabindex="0"
                                aria-controls="example23">
                                <span>
                                    <i class=" mdi mdi-plus"></i>
                                    Categoría</span></a>
                            <a class="dt-button buttons-copy buttons-html5 cursor" tabindex="0"
                                aria-controls="example23">
                                <span>
                                    <i class=" mdi mdi-plus"></i>
                                    Sub Categoría</span></a>

                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Buscador -->
                        <div id="myTable_filter" class="dataTables_filter">
                            <label>Buscar:<input type="search" class="" placeholder="" aria-controls="myTable">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of categories">
                                <td>{{item.id_categoria}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>
                                    <div
                                        [class]="'label label-table ' + (item.estado ? 'label-success' : 'label-warning')">
                                        {{ item.estado ? 'ACTIVO' : 'INACTIVO' }}
                                    </div>

                                </td>
                                <td class="text-nowrap">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
                </div>
                 <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Anterior</button>
                <button type="button" class="btn btn-secondary">Siguiente</button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- modal crear -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" #miModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Nuevo Rol</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="categorieForm">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleInputuname" 
                                placeholder="Nombre"
                                formControlName="name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-danger">
                            <!-- <p *ngIf="campoNoValido('descripcion')"> El campo es obligatorio</p> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="crearCategoria();" data-dismiss="modal">Crear Rol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal crear-->