<!-- Dashboard -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Activos</h4>
                <div class="text-right"> <span class="text-muted"></span>
                    <h2 class="font-light"><sup><i class="ti-arrow-up text-success"></i></sup> {{ total_activo |
                        currency:
                        'USD': 'symbol' }}</h2>
                </div>
                <span class="text-success">75%</span>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Pasivos</h4>
                <div class="text-right"> <span class="text-muted"></span>
                    <h2 class="font-light"><sup><i class="ti-arrow-down text-danger"></i></sup> {{ total_pasivo |
                        currency:
                        'USD': 'symbol' }}</h2>
                </div>
                <span class="text-danger">60%</span>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Resultado</h4>
                <div class="text-right"> <span class="text-muted"></span>
                    <h2 class="font-light"><sup><i class="ti-arrow-up text-inverse"></i></sup> {{ resultado_ejercicio |
                        currency:
                        'USD': 'symbol' }}</h2>
                </div>
                <span class="text-inverse">80%</span>
                <div class="progress">
                    <div class="progress-bar bg-inverse" role="progressbar" style="width: 80%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Patrimonio Neto</h4>
                <div class="text-right"> <span class="text-muted"></span>
                    <h3 class="font-light"><sup><i class="ti-arrow-up text-info"></i></sup> {{ total_patrimonio |
                        currency:
                        'USD': 'symbol' }}</h3>
                </div>
                <span class="text-info">30%</span>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table Data Balance General -->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">


                <!-- Row Button  -->
                <div class="row button-group" style="margin-bottom: 20px;">

                    <!-- Date Range Input, Select Input and Search Input -->
                    <div class="col-lg-12 col-md-12">
                        <div class="button-group">
                            <label>Fecha Inicio
                                <input type="date" class="form-control" [(ngModel)]="fechaInicio"
                                    (change)="filtrarEstadoResultado()" (dblclick)="borrarFechaInicio()"
                                    style="width: 100%;" />
                            </label>

                            &nbsp;
                            <label>Fecha Fin
                                <input type="date" class="form-control" [(ngModel)]="fechaFin"
                                    (change)="filtrarEstadoResultado()" (dblclick)="borrarFechaFin()"
                                    style="width: 100%;" />
                            </label>
                            &nbsp;
                            <label>Nivel
                                <select class="form-control" style="width: 100%;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </label>
                            &nbsp;
                            <label>Buscar
                                <input type="text" class="form-control flex-fill" [(ngModel)]="buscarTexto"
                                    placeholder="Códio ó Cuenta" (input)="filtrarEstadoResultado()"
                                    style="width: 100%;" />
                            </label>
                            &nbsp;
                            <button class="btn btn-outline-danger" id="" type="button" (click)="generatePDF()">
                                <span class="fa fa-file-pdf-o"></span>&nbsp;PDF
                            </button>
                            <button class="btn btn-outline-success" id="" type="button" (click)="exportToExcel()">
                                <span class="fa fa-file-excel-o"></span>&nbsp;Excel
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">

                    <table id="demo-foo-addrow" class="table m-t-35 table-hover contact-list footable-loaded footable"
                        data-page-size="10">
                        <thead>
                            <tr>
                                <th class="text-left">Código</th>
                                <th class="text-left">Cuenta</th>
                                <th class="text-right">Saldo $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bg of balance_general let i = index">
                                <td>{{bg.codigo}}</td>
                                <td>{{bg.descripcion }}</td>
                                <td class="text-right">{{bg.saldo}}</td>
                                <ng-template #inactivoOption>
                                </ng-template>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    <hr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h5 class="total-label">Total Activo: </h5>
                        </td>
                        <td class="text-right">
                            <h5 class="total-value">{{ '$ ' + total_activo?.toLocaleString('es', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h5 class="total-label">Total Pasivo: </h5>
                        </td>
                        <td class="text-right">
                            <h5>{{ '$ ' + total_pasivo?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 })
                                }}</h5>
                        </td>
                    </tr>
                    <hr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h5 class="total-label">Patrimonio:</h5>
                        </td>
                        <td class="text-right">
                            <h5>{{ '$ ' + patrimonio?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h5 class="total-label">Resultado Ejercicio:</h5>
                        </td>
                        <td class="text-right">
                            <h5>{{ '$ ' + resultado_ejercicio?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h5 class="total-label">Total Patrimonio:</h5>
                        </td>
                        <td class="text-right">
                            <h5>{{ '$ ' + total_patrimonio?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits:
                                2 }) }}</h5>
                        </td>
                    </tr>
                    <hr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="text-left">
                            <h4 class="total-label"><strong>Total Activo:</strong></h4>
                        </td>
                        <td class="text-right" style="padding-right: 20px;">
                            <h4>{{ '$ ' + total_activo?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) }}</h4>
                        </td>
                        <td class="text-left" style="padding-left: 20px;">
                            <h4 class="total-label"><strong>Total Pasivo + Total Patrimonio:</strong></h4>
                        </td>
                        <td class="text-right">
                            <h4>{{ '$ ' + pasivo_patrimonio?.toLocaleString('es', { minimumFractionDigits: 2,
                                maximumFractionDigits: 2 }) }}</h4>
                        </td>
                    </tr>


                </div>

            </div>
        </div>
    </div>

    <style>
        .verde {
            color: green;
        }

        .rojo {
            color: red;
        }

        .total-label {
            margin-right: 10px;
        }
    </style>