<!-- Table Libro Diario-->
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <!-- Button Groups -->
                <div class="float-left">
                    <button type="button" class="btn btn-info waves-effect waves-light" data-toggle="modal"
                        data-target="#exampleModal"><i class="fa fa-plus"></i> Nuevo Asiento
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Más opciones
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <span class="fa fa-download"></span> Importar </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <span class="fa fa-upload"></span> Exportar </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-print"></span> Imprimir </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalXML">
                                <i class="fa fa-cog"></i> Configuración </a>
                        </div>
                    </div>
                </div>

                <!-- Search Input -->
                <div class="float-right ">
                    <div class="form-group" style="display: flex; align-items: center;">
                        <label style="height: 15px; margin-right: 10px;">&nbsp;&nbsp;&nbsp;Buscar:</label>
                        <input type="text" class="form-control" style="width: 100%;" />
                    </div>
                </div>

                <div class="table-responsive">

                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable"
                        data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable">#</th>
                                <th class="text-center">Asiento</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-left">Código</th>
                                <th class="text-left">Cuenta</th>
                                <th class="text-right">Debe $</th>
                                <th class="text-right">Haber $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let libro of libro_diario let i = index">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td class="text-center">{{libro.id_asiento}}</td>
                                <td class="text-center">{{libro.fecha_asiento | date:'yyyy-MM-dd' }}</td>
                                <td>{{libro.codigo }}</td>
                                <td>{{libro.descripcion }}</td>
                                <td class="text-right">{{libro.debe}}</td>
                                <td class="text-right">{{libro.haber}}</td>
                                <ng-template #inactivoOption>
                                </ng-template>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngFor="let suma of suma_debe_haber">
                                <td colspan="4"></td>
                                <td class="text-right">
                                    <h3><strong>Total:</strong></h3>
                                </td>
                                <td>
                                    <h3>{{ suma.total_debe }}</h3>
                                </td>
                                <td>
                                    <h3>{{ suma.total_haber }}</h3>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Style -->
<style>
    .float-left .btn {
        margin-right: 5px;
    }

    hr {
        border: 1px transparent #ccc;
        margin: 20px 0;
    }

    .modal-body-aux {
        padding-bottom: 0px;
    }

    .material-aux {
        font-weight: 300;
    }
</style>