<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar...">
            </div>
        </div>
    </div>
</div>

<!-- <div class="row animated fadeIn fast"
        *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading"> Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>

        </div>
    </div>
</div> -->

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bordered Table</h4>
                <h6 class="card-subtitle">Add<code>.table-bordered</code>for borders on all sides of the table and
                    cells.</h6>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center w400">Cliente</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Descuento</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of proformas">
                                <td>
                                    <ng-container *ngFor="let cliente of clientes">
                                        <ng-container
                                            *ngIf="cliente.id_cliente == item.id_cliente ">{{cliente.razon_social}}</ng-container>
                                    </ng-container>

                                </td>
                                <td class="text-center">{{item.fecha}}</td>
                                <td class="text-right">$ {{item.descuento}}</td>
                                <td class="text-right">$ {{item.total}}</td>
                                <td class="text-center">
                                    <div
                                        [class]="'label label-table ' + (item.estado ? 'label-info' : 'label-warning')">
                                        {{ item.estado ? 'FACTURA' : 'PROFORMA' }}
                                    </div>
                                </td>


                                <td class="text-center">
                                    <button class="btn btn-success btn-sm m-r-5" data-toggle="modal"
                                        data-target="#nombreModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-success btn-sm m-r-5" data-toggle="modal"
                                        data-target="#nombreModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-info btn-sm m-r-5" data-toggle="modal"
                                        data-target="#nombreModal">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Anterior</button>
                    <button type="button" class="btn btn-secondary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>