/* You can add global styles to this file, and also import other style files */
/* Importa el tema predeterminado de ng-select */
@import "~@ng-select/ng-select/themes/default.theme.css";


.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector , .cursor {
    cursor: pointer;
}

.oculto{
    display: none;
}

.fondo-modal-imagen{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.img-avatar{
    width: 150px;
    height: 150px;
}

.w100{
    width: 100px;
}
.w50{
    width: 50px;
}
.w200{
    width: 200px;
}
.w250{
    width: 250px;
}
.w400{
    width: 400px;
}

.avatar{
    border-radius: 100%;
    width: 30px;
}

.importar-clientes{
    width: 30%;
    float: left;
}



/* Personaliza estilos para ng-select */
.ng-select {
  width: 400px; /* Ajusta el ancho según tus preferencias */
}

.ng-dropdown-panel {
  border: 1px solid #ccc; /* Ajusta el borde según tus preferencias */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajusta la sombra según tus preferencias */
}

.ng-option {
  padding: 8px 12px; /* Ajusta el relleno según tus preferencias */
}

.ng-option.selected {
  background-color: #007bff; /* Ajusta el color de fondo para la opción seleccionada */
  color: #fff; /* Ajusta el color del texto para la opción seleccionada */
}
